body,html {
font: sans-serif;
margin:0;
padding:0;
color:#000;
background:#6699cc;
font-size: small;
}

a {
color: #000000;
text-decoration: underline;
}

h1 {
margin:0 0 0 0;
font-size: x-large;
font-weight: bold;
}

h2 {
margin:0 0 0 0;
font-size: large;
font-weight: bold;
}

#header {
padding:10px 10px;
background:#6699cc;
}

#section-break{
clear:both;
margin:0;
padding-top: 10px;
padding-bottom: 10px;
background:#6699cc;
}

.section{
clear:both;
margin:0;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 5%;
padding-right: 5%;
background:#aabfd4;
}

#contact{
clear:both;
padding-top: 20px;
padding-bottom: 30px;
background:#aabfd4;
}

#contact-image{
padding-right: 5%;
padding-left: 5%;
}

#contact-info{
padding-left: 5%;
}

