body {
	background:#669ACC;
	color: black;
	margin: 0 auto;
	width:650px;
	font-size:10pt;
}

h1,h2 {
	font-family: 'droid sans', monospace;
	margin-top: 0;
	padding-top 0;
}

a {
	color: #000000;
	text-decoration: underline;
}

p {
	clear:both;
	padding-top: 40px;
}

.section {
	background:#AABFD4;
	margin-bottom: 40px;
	padding:40px;
	display:inline-block;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.section:after {
	clear:both;
	display:block;
}

.info {
	float:left;
	padding-left:50px;
}

#logo {
	padding: 10px;
}

#photo {
	float:left;
} 

